<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Add a Page</h1>
<div>
    <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
        {% csrf_token %}
        {% for h in form.hidden_fields %}
            {{ h }}
        {% endfor %}
        {% for f in form.visible_fields %}
            {{ f.errors }}
            {{ f.help_text }}
            {{ f }} <br />
        {% endfor %}
        <input type="submit" name="Submit" value="Create Page" />
    </form>
</div>
</body>
</html>